/* font */
@import url("https://fonts.googleapis.com/css?family=Lato");
$font-lato: "Lato", sans-serif;

/* colors */
$color-white: #fff;
$color-grey: #c3cfe2;
$color-light-blue: #00aced;
$color-blue: #007bb6;
$color-dark-blue: #3b5998;
$color-salmon: #e17b77;
$color-dark-grey: #333;
$color-shadow: #3E3D3D;
$color-black: #000;